<footer class="bg-body-tertiary">
    <div class="card">
  <h5 class="card-header">MIRANOS!</h5>
  <div class="card-body">
    <h5 class="card-title">SIGUENOS EN LAS REDES SOCIALES</h5>
    <p class="card-text">MIRA TODO LO NUEVO QUE COMPARTIMOS EN REDES, HAY TIPS Y PRENDAS NUEVAS!!!</p>
    <a href="#" class="btn btn-info">INSTAGRAM</a>
  </div>
</div>
</footer>